POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=n8n
POSTGRES_NON_ROOT_PASSWORD=password

N8N_ENCRYPTION_KEY=super-secret-key
N8N_USER_MANAGEMENT_JWT_SECRET=even-more-secret
N8N_DEFAULT_BINARY_DATA_MODE=filesystem
N8N_HOST=<your-domain-here>

CLOUDFLARED_TOKEN=<your-cloudflared-token-here>
TUNNEL_UUID=<your-tunnel-uuid-here>